*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Css */
.container-fluid {
    color: black;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    height: 30px;
    border-radius: 10px;
    margin-left: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

.left{
    margin-right: 18rem;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(235, 85, 31);
    text-decoration: underline;
}

.icons img{
    height: 28px;
    width: 28px;
    margin-right: 1.5rem;
}


/* Carousel css */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 1.2rem;
}


/*Featured Products Css */
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    background-color: #f7f7f7;
}

.product-2{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.product-2 div{
    width: 28%;
    display: flex;
    justify-content: space-between;
}

.product-2 a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.product-2 a:hover {
    color: rgb(235, 85, 31);
    text-decoration: underline;
}

.big-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.big-pic div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 328px;
    border-radius: none;
}


.small-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.2rem;
}

.small-pic div{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Exclusive Offer Css*/
.gallery-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.gallery-container div{
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
}


.card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    background-color: #f7f7f7;
    padding-bottom: 5rem;
}

.card {
    width: 100% !important;
    padding: 20px;
}

.card-body {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}


@media (max-width: 340px){
    .container-fluid nav{
        display: none;
    }

    .big-pic{
        display: flex;
        flex-direction: column;
        gap: none;
    }

    .big-pic div{
        font-size: small;
    }

    .small-pic{
        display: flex;
        flex-direction: column;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    .product-2 div{
        width: 100%;
    }

    .product-2{
        padding: none;
    }

    .card-container{
        flex-direction: column;
    }
}



